html {
	background-color: #00539F;
}
body { /*the body is a black level, meaning it takes up space on the page, and can have margin and other spacing values applied to it*/
	width: 600px;
	margin: 0 auto;
	background-color: #FF9500;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
}
h1 {
	margin: 0; /*most browser set margins for h1, so we're removing it*/
	padding: 20px 0;
	color: #00539F;
	text-shadow: 3px 3px 1px black; /*the 3rd is for blur radius*/
	font-family: "Montserrat", sans-serif;
}
p {
	font-family: "Turet Road", cursive;
}
img[src] {

}
img { /*images are inline block, so they dont have the properties of the body for example. Thats why we are explicitly giving it this behavior*/
	display: block;
	margin: 0 auto;
	width: 400px; /*since its larger than 600px. an alternative is modifying the image using a raster editor*/
}
